# dependencies
node_modules

# environment variables
.env

# sensitive files
controllers/cred.json

# logs
*.log

# system files
.DS_Store
Thumbs.db

# Ignore sensitive creds
server/controllers/cred.json
